body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
}
h1 .fira-sans-bold {   
    font-weight: bold;
    font-size: 32px;     
  }
nav{
    padding: 24px 160px;
    display: flex;
    justify-content:space-between;
}
.btn-signin{
    border-color: #006A50;    
    border-width: 1px;
    height: 52px;
    width: 116px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600; /* 600px indicates semi-bold*/
    color: #006A50;
}
.banner{
    display: flex;
    margin: 20px 160px 80px 160px;
    padding: 50px 40px;
    border-radius: 24px;
    justify-content:space-between;
    background-color: #C6E4D6;
    gap: 64px;    
    box-shadow: 0px 4px 4px #000000;
}

.banner-title{
    margin: 0px 0px 16px 0px;
    font-size: 24px;
    font-weight: 500; /* 500px indicates medium*/
    opacity: 50%;
}

.banner p{
    margin: 0px 0px 24px 0px;
    font-size: 56px;
    font-weight: 700; /* 700px indicates bold*/
}

.banner-btn{
    background-color: #006A50;  
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600; /* 600px indicates semi-bold*/
    color: #FFFFFF;
}

/* Styles of Pillar Section */
.pillars{
    margin: 0px 160px 80px 160px;
}
.pillar-head{
    margin: 0px;
    font-size: 40px;
    font-weight: 700; /* 700px indicates bold*/
}
.pillar-container{
    display: flex;
    gap: 24px;
   
}
.pillar-container h4{  
    font-weight: bold;
    font-size: 20px;  
    opacity: 80%; 
}
.pillar{
    background-color: #FFFFFF;
    stroke: #0E0E0E 15%;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;
}
.pillar-description{
    font-weight: 400px;/* 400px=regular */
    font-size: 16px;  
    text-align: justify ;
    opacity: 70%;
}


/* Styles of Pillar Section */
.vision{
    margin: 0px 160px 80px 160px;
}

.vision-card-container{
    display: flex;
    margin: 32px 0px;
    gap: 24px;
    justify-content:space-between;
}

.vision-title p{
    margin-top: 24px;
    font-size: 16px;
    opacity: 70%;
}
.vision-card-container h4{
    font-weight: bold;
    font-size: 20px;
    opacity: 80%;
}
.vision-card-1{
    padding: 32px;
    background-color: #bdc8db;
    stroke: #5490F5;
    border-radius: 16px;
}
.vision-card-2{
    padding: 32px;
    background-color: #C6E4D6;
    stroke: #09A15C;
    border-radius: 16px;
}
.vision-card-3{
    padding: 24px;
    background-color: #F7EBCF;
    stroke: #FFC239;
    border-radius: 16px;
}
.vision-card-description{
    opacity: 70%;
}
.vision-card-container button{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color:#FFFFFF;
}
.vision-button1{
    background-color: #5490F5;
}
.vision-button2{
    background-color: #09A15C;
}
.vision-button3{
    background-color: #FFC239;
}
.vision-qoute{
    background-color: #FFFFFF;
    background-image: url(../asset/image/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 16px; /* LEFT TOP*/
    border-radius: 16px;    
    padding:  30px 24px;
}
.qoute{
    opacity: 80%;
    margin-bottom: 12px;
}
#sinature{
    font-weight: 600;
    font-size: 20px;
    opacity: 80%;   
    margin-bottom: 4px; 
}
#designation{
    opacity: 60%;
    margin: 0px;
}
.opinion{
    margin: 80px 160px;
}
.opinion-title h1{
    margin: 0px;
    font-size: 40px;
    font-weight: 700; /* 700px indicates bold*/
}
.opinion-container{
    background-color: #FFFFFF;
    margin-top: 24px;
    padding: 32px;
    border-radius: 16px;
}
/* Hovering Effect on Button */
button:hover{
    background-color: red;
}
table{
    width: 100%;
    text-indent: 24px;
    border-color: #FFFFFF;   
    stroke-opacity: 15%;
    
}
table tr{
    height: 60px;
}
td{
    font-weight:600;
}
thead{
    text-align: left;   
}
table th{
    background-color: #C6E4D6;
}
select{
    background-color: #C6E4D6;    
    padding: 10px 14px;
    border-radius: 16px;
    width: 152px;
    height: 44px;
}
.news{
    margin: 0px 160px;
}
.news-container{
    display: flex;
    flex-direction:column;
    row-gap: 24px;
}
.news-section-head{
    margin: 24px 0px 32px 0px;
}
.news-card1{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}
.news-card2{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}
.news-card3{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}
.news-image img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news-dtls h2{
    font-weight: 600;
    font-size: 32px;
    margin: 0px;
    opacity: 80%;
}
.news-time, .news-details{
    opacity: 70%;
}

.donation{
    margin: 80px 160px;
    text-align: center;
}
.donation-heading p{
    margin: 24px 0px;
    padding: 0px 50px;
    opacity: 70%;
}
/* .donation-form{
    display: flex;
    flex-direction: column;
    
} */
.donation-btn{
    align-items: center;    
    gap: 15px;  
    margin: 20px 0px; 
}
.donation-amount{
    height: 64px;
    width: 230px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    opacity: 80%;
    
}
.default-amount{
    background-color: blueviolet;
}
.other-donation-amount{
    /* height: 45px; */
    width:800px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px 40px;
    opacity: 30%;
    text-align: center;
    margin-bottom: 16px;
}
footer{
    width: 100%;
    margin: 0%;
    background-color: rgb(0, 109, 117);
}